.mainNav {
    padding: .5rem;
    margin: .5rem;

    text-align: center;
}

.mainNavBrand {
    padding: 1rem 0px;
    background-color: rgba(104, 88, 6, 0.152);
    width: 100%;
    height: 100%;

    transition: transform 0.3s ease;
    text-decoration: none;
}

.mainNavBrand:hover {
    transform: scale(1.05);
}

.mainNavLinks {
    width: 100%;
    gap: .5rem;
    overflow-x: auto !important;
}