* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-gutter: stable;


  --primary-color: #a65bfc;
  --secondary-color: #5585fc;

  --background: #09090D;
  --text: #E8FFFF;
  --borders-and-dividers: #454370;

  --success: #00FFFF;
  --error: #FF0077;
  --warning: #EE00FF;
  --information: #94FF8A;

  --fs-h1: clamp(1.75rem, 1.4rem + 1.5vw, 2.4rem);
  --fs-h2: clamp(1.4rem, 1.15rem + 1.2vw, 2rem);
  --fs-h3: clamp(1.2rem, 1rem + 0.9vw, 1.6rem);
  --fs-h4: clamp(1.05rem, 0.9rem + 0.5vw, 1.3rem);
  --fs-h5: 0.95rem;
  --fs-h6: 0.85rem;
}



body {
  width: 100%;

  min-width: 320px;
  min-height: 100vh;

  font-size: 17px;

  background-image: url('assets/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

img {
  width: 200px;
  height: 100px;
}

html {
  scroll-behavior: smooth;
}


/* 
-----------------
ESPACIADOS
----------------- 
*/
.defaultSpacing {
  padding: .5rem;
  margin: .5rem;
}



/* 
-----------------
CENTRALIZACIONES 
----------------- 
*/


.center-web-page {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: start;

  flex-direction: column;
}

.center-all {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}


/* 
-----------------
LISTAS
----------------- 
*/


.center-list {
  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
}

.scroll-row {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;

  justify-content: start;
  align-items: start;

  overflow-x: hidden;
  overflow-y: hidden;

  scrollbar-width: thin;
}


/* 
-----------------
BOTONES
----------------- 
*/


.btnDefault {
  background-color: rgba(0, 0, 0, 0.693);
  border: none;

  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs-h5);

  padding: .5rem 1rem;
  border-radius: 7px;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.boton-retro:active {
  transform: scale(0.97);
}

.boton-retro:hover {
  box-shadow: 0px 7px 1px white;
  transform: translateY(-7px);
}